extends ../layout

block content
  if newTickets === 0 && mostCommentedTickets.length === 0
    .message
      .message__text
        p На сайте еще не опубликовано ни одного объявления.
      a.message__link.btn.btn--big(href='/login') Вход и регистрация
  else
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        li.categories-list__item
          a.category-tile.category-tile--default(href='/offers/category/1')
            span.category-tile__image
              img(src='img/cat.jpg', srcset='img/cat@2x.jpg 2x', alt='Иконка категории')
            span.category-tile__label
              | Дом
              span.category-tile__qty.js-qty  81
        li.categories-list__item
          a.category-tile.category-tile--default(href='/offers/category/2')
            span.category-tile__image
              img(src='img/cat02.jpg', srcset='img/cat02@2x.jpg 2x', alt='Иконка категории')
            span.category-tile__label
              | Электроника
              span.category-tile__qty.js-qty  62
        li.categories-list__item
          a.category-tile.category-tile--default(href='/offers/category/3')
            span.category-tile__image
              img(src='img/cat03.jpg', srcset='img/cat03@2x.jpg 2x', alt='Иконка категории')
            span.category-tile__label
              | Одежда
              span.category-tile__qty.js-qty  106
        li.categories-list__item
          a.category-tile.category-tile--default(href='/offers/category/4')
            span.category-tile__image
              img(src='img/cat04.jpg', srcset='img/cat04@2x.jpg 2x', alt='Иконка категории')
            span.category-tile__label
              | Спорт/отдых
              span.category-tile__qty.js-qty  86
        li.categories-list__item
          a.category-tile.category-tile--default(href='/offers/category/5')
            span.category-tile__image
              img(src='img/cat05.jpg', srcset='img/cat05@2x.jpg 2x', alt='Иконка категории')
            span.category-tile__label
              | Авто
              span.category-tile__qty.js-qty  34
        li.categories-list__item
          a.category-tile.category-tile--default(href='/offers/category/6')
            span.category-tile__image
              img(src='img/cat06.jpg', srcset='img/cat06@2x.jpg 2x', alt='Иконка категории')
            span.category-tile__label
              | Книги
              span.category-tile__qty.js-qty  92
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each ticket in newTickets
            li.tickets-list__item
              .ticket-card(class=`ticket-card--color${ticket.picture}`)
                .ticket-card__img
                  img(src=`img/item${ticket.picture}.jpg`, srcset=`img/item${ticket.picture}@2x.jpg 2x`, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label=`${ticket.type === 'offer' ? 'Продам' : 'Куплю'}`
                  .ticket-card__categories
                    each category in ticket.categories
                      a(href=`/offers/category/${category.id}`)=category.name
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${ticket.id}`)=ticket.title
                    p.ticket-card__price
                      span.js-sum=new Intl.NumberFormat('ru-RU').format(ticket.price)
                      |  ₽
                  .ticket-card__desc
                    p=`${ticket.description.length > 55 ? ticket.description.slice(0, 55) + '...' : ticket.description}`
    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        ul
          each ticket in mostCommentedTickets
            li.tickets-list__item
              .ticket-card(class=`ticket-card--color${ticket.picture}`)
                .ticket-card__img
                  img(src=`img/item${ticket.picture}.jpg`, srcset=`img/item${ticket.picture}@2x.jpg 2x`, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label=`${ticket.type === 'offer' ? 'Продам' : 'Куплю'}`
                  .ticket-card__categories
                    a(href='/offers/category/1')=ticket.categories.join(`, `)
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${ticket.id}`)=ticket.title
                    p.ticket-card__price
                      span.js-sum=new Intl.NumberFormat('ru-RU').format(ticket.sum)
                      |  ₽
                  .ticket-card__desc
                    p=`${ticket.description.length > 55 ? ticket.description.slice(0, 55) + '...' : ticket.description}`
