extends ../layout

block content
  section.search-results
    h1.visually-hidden Результаты поиска
    .search-results__wrapper
      if offers.length === 0
        .search-results__message
          p
            | Не найдено
            br
            | ни одной публикации
      else
        p.search-results__label
          | Найдено
          |
          span.js-results=`${offers.length} публикации`
        ul.search-results__list
          each offer in offers
            li.tickets-list__item
              .ticket-card(class=`ticket-card--color${offer.picture}`)
                .ticket-card__img
                  img(src=`img/item${offer.picture}.jpg`, srcset=`img/item${offer.picture}@2x.jpg 2x`, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label=`${offer.type === 'offer' ? 'Продам' : 'Куплю'}`
                  .ticket-card__categories
                    each category in offer.categories
                      a(href=`/offers/category/${category.id}`)=category.name
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${offer.id}`)=offer.title
                    p.ticket-card__price
                      span.js-sum=new Intl.NumberFormat('ru-RU').format(offer.price)
                      |  ₽
                  .ticket-card__desc
                    p=`${offer.description.length > 55 ? offer.description.slice(0, 55) + '...' : offer.description}`
